* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: #e0cdcd;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.btn {
    margin-right: 20px;
}

.btn a {
    color: white;
}

.signIn h2 {
    text-align: center;
}

.form {
    border-radius: 5px;
    margin: 50px auto;
    padding: 20px;
    display: block;
    width: 400px;
    background-color: #dcc2c2;
}

.form h2 {
    text-align: center;
}

.divBtn {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

.successful {
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: #dcc2c2;
    font-size: 20px;
}

.successful a:hover {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}

.error {
    margin: 10px auto;
    text-align: center;
    font-weight: 600;
    color: #c72929;
}

.main {
    margin: 20px auto;
}

.divError {
    margin: 20px auto;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #c72929;
}

.divError .text {
    font-size: 17px;
    font-weight: 400;
}

.mainContent {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 1200px;
}

#boss-cards, #manager-cards, #performer-cards {
    margin: 20px 0;
}

.card, .card-old {
    margin: 10px 0;
    padding: 10px;
}

#btnSaveAll {
    margin: 10px auto;
    display: block;
    width: 1200px;
    background-color: #c72929;
    border-color: #c72929;
}

.button {
    padding: 5px 10px;
    border: 2px solid #c72929;
    border-radius: 5px;
    font-weight: 600;
    color: #c72929;
}

.button:hover {
    padding: 5px 10px;
    border: 2px solid #c72929;
    border-radius: 5px;
    font-weight: 600;
    background-color: #c72929;
    color: #e0cdcd;
}

